.success {
  border: 1px solid green;
  color: darkgreen;
}

.error {
  border: 1px solid darkred;
  color: darkred;
}

.message {
  background-color: lightgray;
  border-radius: 4px;
  font-size: large;
  font-weight: bold;
  margin: 32px 0;
}
